body {
  background-color: rgba(243, 241, 241, 0.904);
}

.Oval-2 {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-width: 5px;
  border-radius: 100%;
  border: 5px solid;
  border-color: #f3f3f3 #2274ee #2274ee #f3f3f3;
  border-image-source: linear-gradient(to bottom, var(--medium-blue), var(--dodger-blue));
  border-image-slice: 1;
}

.oval-contain {
  width: 25%;
  border-right: 2px solid #f3f1f1;
  padding-right: 10%;
}

.cms {
  color: #0290ff;
}

.navbar-books {
  color: #121212;
}

.avatar {
  border: 5px solid #f3f3f3;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  color: #0290ff;
  margin-right: 5%;
}

.removebtn {
  background-color: white;
  color: #4386bf;
  font-size: 17px;
  width: 50%;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid lightblue;
  padding-right: 15px;
  height: 22px;
}

.book-cat {
  color: #7c7a7a;
}

.book-title {
  color: #121212;
}

.light-blue {
  color: #4386bf;
}

.comment {
  border-right: 2px solid lightblue;
  padding-right: 20px;
  height: 22px;
}

.edit {
  padding-left: 15px;
  height: 22px;
}

.current-chapter {
  color: #d1caca;
}

.completed {
  color: #d1caca;
  font-weight: 500;
}

.chapter {
  color: #121212;
  font-weight: 100;
}

.updateprogress {
  font-weight: 100;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .oval-contain {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .s-2 {
    flex-direction: column;
    align-items: center;
  }

  .oval-contain {
    width: 40%;
    padding-right: 0%;
    border-right: none;
  }
}
